#### @author: Прядун Михаил Александрович ЭУМ-110001
<hr>

## Задание 4 (Предобработка данных на Python - часть 1)

In [2]:
import pandas as pd    # импорт библиотеки
# зададим имена файлов (лежат в той же папке)

file_LKOH_NA_series_exercise = 'dataset_1_LKOH_NA_series_exercise.csv'

df_LKOH = pd.read_csv(file_LKOH_NA_series_exercise)

In [55]:
df_LKOH.loc[394:400]

    <TICKER> <PER>    <DATE>  <TIME>  <CLOSE>    <VOL>
394     LKOH     D  20190514       0   5188.5  2211566
395     LKOH     D  20190515       0   5000.0  1739162
396     LKOH     D  20190516       0      NaN  2898058
397     LKOH     D  20190517       0      NaN  1401055
398     LKOH     D  20190520       0      NaN   982966
399     LKOH     D  20190521       0   5300.0  1132774
400     LKOH     D  20190522       0   5317.5   746807

In [51]:
list_pass = df_LKOH[df_LKOH.isna()['<CLOSE>'].isin([True])].index.tolist()
print(list_pass)
print(len(list_pass))

[8, 32, 85, 136, 184, 223, 396, 397, 398, 439, 440, 487, 488, 552, 553, 554, 555, 625, 669, 722, 723, 724, 725, 726, 727, 728, 776, 777, 778, 779, 840, 841, 842, 910, 911, 948, 1000]
37

In [29]:
list_tmp = []

for value in list_pass:
    
    if len(list_tmp) == 0:
        list_tmp.append([value])
        continue
    
    if value - 1 == list_tmp[-1][-1]:
       list_tmp[-1].append(value)
    else: 
        list_tmp.append([value])
        
        
print(list_tmp)

[[8], [32], [85], [136], [184], [223], [396, 397, 398], [439, 440], [487, 488], [552, 553, 554, 555], [625], [669], [722, 723, 724, 725, 726, 727, 728], [776, 777, 778, 779], [840, 841, 842], [910, 911], [948], [1000]]

In [30]:
for arr in list_tmp:
    print('lenght: ', len(arr), ' , value: ', arr)

lenght:  1  , value:  [8]
lenght:  1  , value:  [32]
lenght:  1  , value:  [85]
lenght:  1  , value:  [136]
lenght:  1  , value:  [184]
lenght:  1  , value:  [223]
lenght:  3  , value:  [396, 397, 398]
lenght:  2  , value:  [439, 440]
lenght:  2  , value:  [487, 488]
lenght:  4  , value:  [552, 553, 554, 555]
lenght:  1  , value:  [625]
lenght:  1  , value:  [669]
lenght:  7  , value:  [722, 723, 724, 725, 726, 727, 728]
lenght:  4  , value:  [776, 777, 778, 779]
lenght:  3  , value:  [840, 841, 842]
lenght:  2  , value:  [910, 911]
lenght:  1  , value:  [948]
lenght:  1  , value:  [1000]

In [54]:
list_missing_values = []

for value in list_tmp:
    initial = df_LKOH.iloc[value[0]-1]['<CLOSE>']
    finaly = df_LKOH.iloc[value[-1]+1]['<CLOSE>']
    difference = initial - finaly
    lenght = len(value) + 1
    step = difference / lenght 
    for i in range(lenght-1):
        price = initial - step*(i+1)
        list_missing_values.append(round(price,2))
        
print(list_missing_values)

[3101.25, 3396.75, 3790.0, 4144.0, 4268.25, 4630.0, 5075.0, 5150.0, 5225.0, 5193.83, 5197.17, 5440.5, 5392.0, 6099.4, 6116.8, 6134.2, 6151.6, 4987.0, 5369.5, 4921.06, 4893.12, 4865.19, 4837.25, 4809.31, 4781.38, 4753.44, 4927.1, 4990.2, 5053.3, 5116.4, 5658.38, 5701.75, 5745.12, 6153.5, 6314.0, 6430.5, 7115.25]

In [56]:
df_LKOH.loc[list_pass, '<CLOSE>'] = list_missing_values

df_LKOH.loc[394:400]

    <TICKER> <PER>    <DATE>  <TIME>  <CLOSE>    <VOL>
394     LKOH     D  20190514       0   5188.5  2211566
395     LKOH     D  20190515       0   5000.0  1739162
396     LKOH     D  20190516       0   5075.0  2898058
397     LKOH     D  20190517       0   5150.0  1401055
398     LKOH     D  20190520       0   5225.0   982966
399     LKOH     D  20190521       0   5300.0  1132774
400     LKOH     D  20190522       0   5317.5   746807

In [57]:
output_exel = 'dataset_1_LKOH_no_NA_series_exercise.xlsx'

with pd.ExcelWriter(output_exel) as writer:  
    df_LKOH.to_excel(writer, sheet_name='LKOH')