#### @author: Прядун Михаил Александрович ЭУМ-110001
<hr>

## Задание 4 (Предобработка данных на Python - часть 1)

In [17]:
import pandas as pd    # импорт библиотеки
# зададим имена файлов (лежат в той же папке)

file_LKOH_NA_series_exercise = 'dataset_1_LKOH_NA_series_exercise.csv'

df_LKOH = pd.read_csv(file_LKOH_csv_utf8)

In [18]:
df_data

     <TICKER> <PER>    <DATE>  <TIME>   <CLOSE>     <VOL>
0        LKOH     D  20171019       0  2985.000    417461
1        LKOH     D  20171020       0  2994.000    424104
2        LKOH     D  20171023       0  2997.000    394534
3        LKOH     D  20171024       0  3018.000    338596
4        LKOH     D  20171025       0  3005.000    620960
...       ...   ...       ...     ...       ...       ...
3028     SNGS   NaN  20211013       0    36.850  30316400
3029     SNGS   NaN  20211014       0    37.040  21989100
3030     SNGS   NaN  20211015       0    37.360  30094800
3031     SNGS   NaN  20211018       0    36.915  35549900
3032     SNGS   NaN  20211019       0    37.220  13439400

[3033 rows x 6 columns]

In [19]:
df_mean = df_data.groupby(['<TICKER>']).mean()['<CLOSE>']
df_mean

<TICKER>
LKOH    5177.381306
SBER     238.754985
SNGS      32.843922
Name: <CLOSE>, dtype: float64

In [20]:
df_std = df_data.groupby(['<TICKER>']).std()['<CLOSE>']
df_std

<TICKER>
LKOH    920.813403
SBER     40.852515
SNGS      6.253049
Name: <CLOSE>, dtype: float64

In [21]:
df_sum = df_data.groupby(['<TICKER>']).sum()['<VOL>']
df_sum

<TICKER>
LKOH     1067245266
SBER    59150145630
SNGS    35101623500
Name: <VOL>, dtype: int64

In [23]:

df_summury = pd.DataFrame()
df_summury['df_mean'] = df_mean
df_summury['df_std'] = df_std
df_summury['df_sum'] = df_sum

output_exel = 'summary_LKOH_SBER_SNGS.xlsx'

with pd.ExcelWriter(output_exel) as writer:  
    df_data.to_excel(writer, sheet_name='data')
    df_summury.to_excel(writer, sheet_name='summary')